* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ccc;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.title {
  position: fixed;
  top: 0;
  left: 0;
  padding: .5rem;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: slateblue;
  color: white;
  z-index: 10;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.nav-item {
  min-width: 12rem;
  text-align: center;
  height: 100%;
  padding: .5rem;
  padding-top: 1rem;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.nav-item:hover {
  filter: brightness(120%);
  background: rgba(0, 0, 0, 0.2);
}

.nav-item:hover .dropdown-container {
  visibility: visible;
  transform: translateY(0);
}

.dropdown-container {
  visibility: hidden;
  position: absolute;
  transition: transform .4s ease-in-out;
  transform: translateY(-200%);
  top: 3rem;
  left: 0;
  min-height: 9rem;
  background: slateblue;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  min-width: 12rem;
}

.dropdown-container ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown-container ul li {
  width: 100%;
  min-height: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-container ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-container ul li a {
  width: 100%;
  height: 3rem;
  display: block;
  cursor: pointer;
  padding: 1rem;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

h1, h2, h3 {
  color: white;
  text-align: center;
}

main {
  width: 100%;
  height: 100%;
}

.section {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
}

.section h1 {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 1rem;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.section .slogan {
  font-size: 4rem;
  padding-top: .5rem;
  animation: h1-anim .4s ease-in-out;
}

.section h2 {
  font-size: 1.5rem;
}

.signup {
  background: rgba(0, 0, 0, 0.1);
  padding: .5rem;
  font-size: 1.5rem;
}

.signup:hover {
  color: #a100a1;
}

#techBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
}

.grad-border {
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(to right, slateblue, #a100a1, slateblue);
}

.grad-border-light {
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(to right, #a100a1, #ccc, #a100a1);
}

.headers {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
}

@keyframes h1-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section--home {
  background-image: radial-gradient(#a100a1, #50c);
  background-size: cover;
}

.section--home h2, .section--home h3 {
  width: 100%;
  text-align: center;
  padding: .5rem;
}

.h2-first, .h2-second, .h2-third {
  animation: h1-anim 6s ease;
}

@keyframes h2-slideIn {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.section-wrap {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.art-box {
  width: 40%;
  padding: 3rem;
  color: white;
}

.art-box p {
  padding: 1rem;
}

.art-box span {
  font-weight: 700;
  color: #a100a1;
}

.art-box h2 {
  padding: 1rem;
}

.section--about {
  background: rgba(0, 0, 20, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.custom-tech {
  background-color: slateblue;
}
