* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
$violet: rgb(161, 0, 161);
body {
    background: #ccc;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    

}
.title {
    position: fixed;
    top: 0;
    left: 0;
    padding: .5rem;
}
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: slateblue;
    color: white;
    z-index: 10;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.4);
   
    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
       
    }
}
// main nav buttons
.nav-item {
    min-width: 12rem;
    text-align: center;
    height: 100%;
    padding: .5rem;
    padding-top: 1rem;
    background: rgba(0,0,0,.1);
    cursor: pointer;
    &:hover {
        filter: brightness(120%);
        background: rgba(0,0,0,.2);
    }
}

.nav-item:hover .dropdown-container {
    visibility: visible;
    // opacity: 1;
    transform: translateY(0)
    
}
.dropdown-container {
    visibility: hidden;
    // opacity: 0;
    position: absolute;
    transition: transform .4s ease-in-out;
    transform: translateY(-200%);
    top: 3rem;
    left: 0;
    min-height: 9rem;
    background: slateblue;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,.2);
    min-width: 12rem;
    ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        li {
            width: 100%;
            min-height: 3rem;
            // padding: 1rem;
            border-bottom: 1px solid rgba(0,0,0,.1);
            &:hover {
                background-color: rgba(0,0,0,.1);
            }
            a {
                width: 100%;
                height: 3rem;
                display: block;
                cursor: pointer;
                
                padding: 1rem;
            }
        }
    }
}
a, a:visited {
    color: white;
    text-decoration: none;
}
h1, h2, h3 {
    color: white;
    text-align: center;
}

main {
    width: 100%;
    height: 100%;
    
}

.section {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: rgba(0,0,0,.1);
    
    h1 {
        // margin-top: 5rem;
        width: 100%;
        color: white;
        text-align: center;
        font-size: 2.2rem;
        padding-bottom: 1rem;
        padding-top: 5rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    // landing page slogan
    .slogan {
        font-size: 4rem;
        padding-top: .5rem;
        animation: h1-anim .4s ease-in-out;
    }
    h2 {
        font-size: 1.5rem;
    }
}
// a, button-like
.signup {
    background: rgba(0,0,0,.1);
    padding: .5rem;
    font-size: 1.5rem;
    &:hover {
        color: $violet;
    }
}


// canvas
#techBG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}
// gradient border spacer
.grad-border {
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background: linear-gradient(to right, slateblue, $violet, slateblue);
}
.grad-border-light {
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background: linear-gradient(to right,  $violet, #ccc, $violet);
}
.headers {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // transform: translate(-50% -50%);
    z-index: 5;
}

@keyframes h1-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.section--home {
    background-image: radial-gradient($violet, #50c);
    background-size: cover;
    h2, h3 {
        width: 100%;
        text-align: center;
        padding: .5rem;
    }
}
.h2-first, .h2-second, .h2-third {
    // opacity: 0;
    animation: h1-anim 6s ease;
}
// .h2-first {
//     animation-delay: .5s;
// }
// .h2-second {
//     animation-delay: 1s;
// }
// .h2-third {
//     animation-delay: 1.5s;
// }


@keyframes h2-slideIn {
    0% {
        transform: translateX(-200%)
    }
    100% {
        transform: translateX(0);
    }
}



.section-wrap {
    // padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.art-box {
    width: 40%;
    padding: 3rem;
    color: white;
    p {
        padding: 1rem;
    }
    span {
        font-weight: 700;
        color: $violet;
    }
    h2 {
        padding: 1rem;
    }
}
.section--about {
    background: rgba(0,0,20,.2);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.4);
}
.custom-tech {
    background-color: slateblue;
}